@media only screen and (min-width: 38rem) {
  header img {
    width: 23%;
  }
  .business-members {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 45rem) {
  .site-header,
  main,
  footer {
    max-width: 888px;
    margin: 0 auto;
  }

  .theme-button-small {
    display: none;
  }

  .theme-button-large {
    display: flex;
  }

  header img {
    width: 35%;
  }
  header {
    display: block;
    width: 66%;
  }

  .hamburger {
    display: none;
  }

  .site-header {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 9px;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
  }

  nav ul a {
    text-decoration: none;
  }

  .business-members {
    grid-template-columns: repeat(3, 1fr);
  }
}
