@media only screen and (min-width: 38rem) {
  header img {
    width: 23%;
  }

  .site-header {
    padding: 0 10px;
  }

  .business-members.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5px 10px;
  }

  .dir-heading {
    padding: 15px 15px 0;
  }

  nav.show ul a:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
  }

  .business-members.list-view .contact-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .business-members.list-view .member-card {
    flex-direction: row;
    align-items: center;
  }

  .hero {
    margin: 0.666rem;
  }

  .hero-content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 1rem;
    background-color: rgba(247, 249, 252, 0.9);
    border-radius: 9px;
  }

  .weather-icon {
    flex-direction: column-reverse;
  }

  .weather-header h2 {
    font-size: 1.5rem;
  }

  .current-temperature span:first-child {
    font-size: 3.5rem;
  }

  .footer-socials img {
    padding: 7px;
  }

  .footer-socials img:hover {
    background-color: var(--secondary-color);
    border-radius: 100%;
  }
}

@media only screen and (min-width: 45rem) {
  .site-header,
  main,
  nav,
  footer {
    max-width: 888px;
    margin: 0 auto;
  }

  .theme-button-small {
    display: none;
  }

  .theme-button-large {
    display: flex;
  }

  header img {
    width: 35%;
  }

  header {
    border-bottom: none;
  }

  .hamburger {
    display: none;
  }

  .site-header {
    display: flex;
    align-items: center;
    border-bottom: var(--primary-color) solid 1px;
  }

  nav {
    display: flex;
    gap: 9px;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
  }

  nav ul a {
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 9px;
  }

  nav ul a:hover {
    background-color: var(--primary-color);
    color: var(--text-color-light);
  }

  nav ul a.active {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    cursor: default;
  }

  .business-members.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-content {
    left: 30px;
    right: auto;
    bottom: 30px;
    max-width: 420px;
  }

  .spotlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .spotlight-card {
    margin-bottom: 0;
  }

  #forecast-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .events-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-section-container {
    grid-template-columns: 1fr 1fr;
  }

  /* Desktop Footer Row Layout */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-details {
    text-align: right;
  }
}
