* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 44px 44px;
  padding: 10px;
  align-items: center;
  column-gap: 6px;
}

header img {
  display: block;
  width: 40%;
}

.theme-button-large {
  display: none;
}

.hamburger {
  background: none;
  border: none;
  color: #063b8c;
  cursor: pointer;
  font-size: 2.2rem;
  margin-top: -9px;
}

.hamburger::after {
  content: "\2630";
}

.hamburger.open::after {
  content: "\00D7";
}

.button-shoosher {
  display: none;
}

nav {
  display: none;
}

nav.show {
  display: flex;
  padding: 0px 10px;
}

nav.show ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

nav.show ul a {
  text-decoration: none;
  color: #063b8c;
}

.view-buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 7px;
}

.member-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 9px;
  align-items: center;
  background-color: #063b8c;
  margin: 0.666rem;
}

.member-card img {
  width: 30%;
}

.image-wrapper {
  display: flex;
  justify-content: space-start;
  gap: 12px;
}

.title-container {
  color: #f7f9fc;
}

.title-container h2 {
  border-bottom: #f5c400 solid 1px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-wrapper a {
  color: #f7f9fc;
  text-decoration: none;
}
