@media only screen and (min-width: 38rem) {
  .hamburger {
    display: none;
  }
  .site-header,
  main,
  footer {
    max-width: 888px;
    margin: 0 auto;
  }

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header nav {
    display: flex;
    gap: 12px;
    padding-right: 10px;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
  }

  .site-header nav a {
    text-decoration: none;
  }

  .site-header nav a:hover {
    text-decoration: underline #f5c400;
    text-underline-offset: 5px;
  }

  .site-header nav a.active {
    text-decoration: underline #f5c400;
    text-underline-offset: 5px;
    cursor: default;
  }

  header {
    border-bottom: none;
  }

  .profile-container {
    padding: 22px;
    border: solid 2px #063b8c;
  }

  .certificate-btns button {
    cursor: pointer;
  }

  #courseCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
  }

  main {
    border-top: 1px solid #063b8c;
  }

  .social-icons img {
    width: 5%;
  }

  .social-icons img:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 45rem) {
  .social-icons img {
    width: 3%;
  }

  .profile-container {
    padding: 6px;
    border: none;
  }
}
