* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #063b8c;
}

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #063b8c;
  align-items: end;
  column-gap: 6px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 2px;
}

header span {
  color: #063b8c;
}

.hamburger {
  background: none;
  border: none;
  color: #063b8c;
  cursor: pointer;
  font-size: 1.7rem;
}

.hamburger::after {
  content: "\2630";
}

.hamburger.open::after {
  content: "\00D7";
}

nav {
  display: none;
}

nav.show {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 15px;
}

nav.show a {
  text-decoration: none;
  color: #063b8c;
}

main {
  padding: 5px 10px;
}

main section h2 {
  text-align: left;
  background-color: #063b8c;
  color: #f5c400;
  padding: 5px 3px;
}

.profile-image {
  max-width: 100%;
  border-radius: 13px;
}

.course-card {
  padding: 5px 10px;
  border: #063b8c solid 1.3px;
  margin: 7px 0;
}

.certificate-title {
  text-align: center;
}

.certificate-btns {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 5px 0;
  column-gap: 6px;
}

.certificate-btns button {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #063b8c;
  color: #f5c400;
  border-radius: 13px;
  font-size: large;
}

.certificate-btns button:hover {
  background-color: #f5c400;
  color: #f7f9fc;
}

footer {
  padding: 5px 10px;
  text-align: center;
}
